.come_with_us
{
   
    /* position: fixed; */
}

.inner_text_container
{
    background-image: url("products/m1-bg1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: none; 
    height: 100%;
}

    /* .inner_come
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .inner_text_container
    {
        display: flex;
        align-items: center;
        justify-content: center;
    } */