@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Raleway", sans-serif;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: #bc8157;
}

/* .container
{
  width: 80%;
  margin: 0 auto;
} */

h1, h2, h3 {
  font-family: "Montaga", serif;
}

h1{
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 400;
}

h3{
  font-size: 22px;
  font-weight: 200;
  color: #212121;
}

.price
{
  font-size: 32px;
  font-family: "Montaga", serif;
  font-weight: 300;
  text-transform: uppercase;
}

p.subhead
{
  color: #858585;
  font-size: 19px;
  text-align: center;
  margin-top: 20px;
  line-height: 30px;
}
